* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #121214;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 800px;
  padding: 0 20px;
}

a.game,
a.facts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 75px;
  text-decoration: none;
  color: rgb(60, 83, 255);
  font-family: 'Architects Daughter', cursive;
  max-width: 100%;
  text-align: center;
}

p,
h1,
h2,
h3 {
  color: rgb(78, 186, 48);
  text-align: center;
  font-size: 30px;
  max-width: 100%;
  margin: 20px 0;
}

h1 {
  color: rgb(255, 255, 255);
  margin-bottom: -25px;
}

h2,
h3 {
  color: rgb(182, 70, 70);
  font-size: 30px;
  margin-bottom: -20px;
}

header {
  display: flex;
  justify-content: center;
  font-size: 8vmin;
  color: rgb(0, 183, 255);
  letter-spacing: 1vmin;
  font-family: 'Bruno Ace SC', cursive;
  max-width: 100%;
}

section.gameboard {
  display: grid;
  grid-template-columns: repeat(5, 48px);
  grid-template-rows: repeat(6, 48px);
  justify-content: center;
  gap: 5px;
  max-width: 100%;
}

section.gameboard > div {
  border: 2px solid #3a3a3b;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3b;
}

.correct-position {
  color: green;
}

button {
  height: 50px;
  width: 250px;
  margin-top: 4vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
  border: 0.1vmin solid rgb(156, 20, 20);
  color: rgb(0, 217, 255);
  font-family: 'Amatic SC', cursive;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: gray;
}

button:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.365);
}
