* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #121214;
  justify-content: center;
}

a.game {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 20px;
  font-size: 75px;
  text-decoration: none;
  color: rgb(60, 83, 255);
  font-family: 'Architects Daughter', cursive;
}
a.facts {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 20px;
  font-size: 75px;
  text-decoration: none;
  color: rgb(60, 83, 255);
  font-family: 'Kalam', cursive;
}

p {
  color: white;
  position: center;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 30px;
}
h1{
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: -25px;
}
h2{
  color: rgb(182, 70, 70);
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 30px;
  margin-bottom: -20px;
}
h3{
  color: rgb(182, 70, 70);
  text-align: center;
  margin-left: 350px;
  margin-right: 350px;
  font-size: 25px;
}

header {
  display: flex;
  justify-content: center;
  font-size: 8vmin;
  color: rgb(0, 183, 255);
  letter-spacing: 1vmin;
  font-family: 'Bruno Ace SC', cursive;
  margin-top: -275px;
  margin-bottom: 30px;
}


section.gameboard {
  display: grid;
  grid-template-columns: repeat(5, 48px);
  grid-template-rows: repeat(6, 48px);
  justify-content: center;
  gap: 5px;
}

section.gameboard > div {
  border: 2px solid #3a3a3b;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3b; 
}

.correct-position {
  color: green;
}
button{
  height: 50px;
  width: 250px;
  margin-top: 4vmin;
  font-size: 2vmin;
  border-radius: 4vmin;
  border: 0.1vmin solid rgb(156, 20, 20);
  color: rgb(0, 217, 255);
  font-family: 'Amatic SC', cursive;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: gray;
}

button:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.365);
  
}
